{% extends '@BiopenAdmin/core_custom/base_edit.html.twig' %}

{% block actions %}
{% endblock %}

{% block sonata_form_actions %}
  {% if object.lastRefresh %}
    <p>Dernière mise à jour : {{ object.lastRefresh|date('d/m/Y') }}</p>
  {% endif %}

  <button type="submit" class="btn btn-success" name="submit"><i class="fa fa-save" aria-hidden="true"></i>Sauvegarder</button>

  {% if object.id != "" and object.ontologyMapping|length > 0 %}
    <button type="submit" class="btn btn-primary" name="import" value="import">
      <i class="fa fa-download" aria-hidden="true"></i>Importer les données
    </button>
  {% endif %}

  {% set class = object.ontologyMapping|length > 0 ? 'btn-default' : 'btn-primary' %}
  {% if object.id != "" %}
    <button type="submit" class="btn btn-default" name="collect" value="collect" title="Met à jour les tables de correspondance sans réellement importer les données">
      <i class="fa fa-eye" aria-hidden="true"></i>Lire les données
    </button>
  {% endif %}
  <a href="{{ admin.generateObjectUrl('list', object) }}" class="btn btn-default view_link">
    <i class="fa fa-list" aria-hidden="true"></i>Retour à la liste
  </a>
  {% if object.id != "" %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-danger view_link">
      <i class="fa fa-trash" aria-hidden="true"></i>Supprimer (ainsi que tous les éléments importés)
    </a>
  {% endif %}

{% endblock %}

