/web/css/*
/web/js/*
/web/sw.js
/node_modules/
/npm-debug.log
/TODO
.sass-cache
*.DS_Store
ssh_password
/web/uploads/*
*.csv
*~
.idea
/web/matomo/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/web/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
