<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/gogocarto.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="js/gogocarto.js"></script>
    <style>
        html, body, #gogocarto
        {
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        $(document).ready(function() {
            goGoCarto('#gogocarto', "{{ gogoConfigUrl }}");
        });
    </script>
</head>
<body>
<div id="gogocarto"></div>
</body>
</html>
