@font-face {
    font-family: 'Lobster';
    src: url('Lobster-Regular.eot');
    src: local('Lobster Regular'), local('Lobster-Regular'),
        url('Lobster-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lobster-Regular.woff2') format('woff2'),
        url('Lobster-Regular.woff') format('woff'),
        url('Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

