<div class="osm-tags-field">
    <input type="hidden" :name="`${formName}[osmTags]`" :value="stringifiedTagsHash" class="form-control" />
    <div class="osm-tag-container" v-for="(tag, index) in tags">
        <osm-condition :key="tag.key" :condition="tag">
        </osm-condition>
        <button type="button" @click="tags.splice(index,1)" class="btn btn-default btn-icon">
            <i class="fa fa-trash"></i>
        </button>
    </div>
    <button type="button" class="btn btn-sm btn-default" 
            @click="tags.push({key: '', value: ''})">
        Ajouter un tag
    </button>
</div>

<script>
    // See osm-tags.js Vue Component
    var importObject = {{ form.vars.sonata_admin.admin.subject|serialize('json')|raw }}  
    var formName = {{ form.vars.full_name|split('[')|first|json_encode|raw }}  
</script>

<style>
    .osm-tag-container { 
        display: flex; 
        margin: 10px 0;
    }
    .condition {    
        display: flex;
        flex: 1 auto;
    }
    .condition-operator { display: none }
</style>