{{ form_start(form, {'id': 'formElement'}) }}   

<div id="element-form-content">
	<section>
		{% include "@BiopenGeoDirectory/element-form/form-renderer.html.twig" %}	
	</section>

	{% include "@BiopenGeoDirectory/element-form/form-partials/validate-and-send.html.twig" %}

</form>

{# Template added when user click "add image" #}
<div style="display: none" id="new-image-template">
	<div class="file-field input-field">
	  <div class="btn btn-pick-image btn-neutral">
	    <span class="fa fa-upload"></span>
	    <input type="file" name="biopen_elementbundle_element[images][__count__][file][file]" accept="image/*">
	  </div>
	  <div class="file-path-wrapper">
	    <input class="file-path validate" type="text">
	  </div>
	  <span class="icon-close far fa-times-circle" onclick="$(this).closest('li').remove();"></span>
	</div>
</div>

{% block modals %}
	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>
{% endblock %}



