{% extends 'admin/pages/page_layout.html.twig' %}

{% block page_title %}Aide{% endblock %}

{% block page_content %}
  <p>
    Retrouvez tous les tutoriels vidéo sur <a href="https://video.colibris-outilslibres.org/accounts/gogocarto/videos" target="_blank">notre page peertube</a>
  </p>

  <p>
  Si vous avez toujours des questions, venez trouver de l'aide sur <a href="https://chat.lescommuns.org/channel/gogocarto" target="_blank">notre chat, channel #gogocarto</a>
  </p>
{% endblock %}





