{% extends 'admin/pages/page_layout.html.twig' %}

{% block page_title %}Aide{% endblock %}

{% block page_content %}
  <p>
  Un problème, une question? c'est par ici : <a href="https://doc.gogocarto.fr/" target="_blank">https://doc.gogocarto.fr/</a>
  </p>
{% endblock %}





