{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_header %}
    <p>
        <h4 style="margin: 0 0 20px 10px">Créez des actualités qui seront incluses dans la newsletter</h4>
    </p>
{% endblock %}
