/*** Colors ***/
/*** Badges ***/
/*** Buttons ***/
/*** Cards ***/
/*** Collapsible ***/
/*** Dropdown ***/
/*** Fonts ***/
/*** Forms ***/
/*** Global ***/
/*** Navbar ***/
/*** SideNav ***/
/*** Photo Slider ***/
/*** Spinners | Loaders ***/
/*** Tabs ***/
/*** Tables ***/
/*** Toasts ***/
/*** Typography ***/
/*** Collections ***/
/* Progress Bar */
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Roboto Bk';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Roboto Lt';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster Regular"), local("Lobster-Regular"), url("../fonts/lobster-v22-latin-regular.woff2") format("woff2"), url("../fonts/lobster-v22-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../fonts/ubuntu-v14-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/ubuntu-v14-latin-700.woff2") format("woff2"), url("../fonts/ubuntu-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen Regular"), local("Oxygen-Regular"), url("../fonts/oxygen-v9-latin-regular.woff2") format("woff2"), url("../fonts/oxygen-v9-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* oxygen-700 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local("Oxygen Bold"), local("Oxygen-Bold"), url("../fonts/oxygen-v9-latin-700.woff2") format("woff2"), url("../fonts/oxygen-v9-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../fonts/Nunito-SemiBold.ttf"); }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../fonts/Nunito-Bold.ttf"); }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("../fonts/Nunito-ExtraBold.ttf"); }

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0; }

.custom-scroll-bar::-webkit-scrollbar {
  width: 12px; }

.custom-scroll-bar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #f6f6f6;
  background-color: #C5C5C5; }

.custom-scroll-bar-light::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0; }

.custom-scroll-bar-light::-webkit-scrollbar {
  width: 7px; }

.custom-scroll-bar-light::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #c3c3c3; }

/*
* @Author: Sebastian Castro
* @Date:   2017-04-05 15:04:49
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-04-25 18:24:08
*/
@media only screen and (max-width: 600px) {
  .modal.page-modal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0 !important; }
    .modal.page-modal h1 {
      text-align: center !important;
      margin-right: 3rem; } }

@media only screen and (min-width: 601px) {
  .modal.page-modal.vertical-align {
    top: 50% !important;
    transform: scaleX(1) translate(0, -50%) !important; } }

.modal.page-modal .modal-content {
  padding: 24px; }
  @media only screen and (min-width: 601px) {
    .modal.page-modal .modal-content {
      padding: 40px 15px; } }
  @media only screen and (min-width: 1201px) {
    .modal.page-modal .modal-content {
      padding: 40px; } }

.modal.page-modal .btn-back {
  float: left;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 2rem;
  padding-top: .3rem;
  margin-left: -2rem;
  color: white !important; }
  @media only screen and (min-width: 601px) {
    .modal.page-modal .btn-back {
      display: none; } }

@media only screen and (min-width: 601px) {
  .modal.page-modal {
    width: 100%;
    max-height: 80%; } }

@media only screen and (min-width: 1200px) {
  .modal.page-modal {
    min-width: 800px;
    width: 60% !important;
    max-height: 80%; } }

@media only screen and (max-width: 600px) {
  .modal.page-modal .modal-content.page-modal-content {
    height: 100%;
    border-radius: none !important; } }

.modal.page-modal .modal-content.page-modal-content .page-modal-footer {
  text-align: right;
  margin-top: 2rem; }

html {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

#page-container {
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }

#page-content {
  position: relative; }

body {
  text-align: center;
  height: 100% !important;
  background: 45% no-repeat fixed;
  background-size: cover;
  display: block !important; }
  @media only screen and (min-width: 601px) {
    body {
      background-attachment: initial; } }

.gogo-load-css header {
  position: absolute; }
  .gogo-load-css header #menu {
    width: 100% !important; }
    .gogo-load-css header #menu #menu-home {
      display: none !important; }

@media only screen and (max-width: 600px) {
  .gogo-load-css #home-logo {
    width: 90% !important; } }

@media only screen and (min-width: 601px) {
  .gogo-load-css #home-logo {
    width: 50%; } }

@media only screen and (min-width: 1201px) {
  .gogo-load-css #home-logo {
    width: 60%; } }

.gogo-load-css #home-main-wrapper {
  height: 100%;
  width: 100%;
  position: relative; }
  .gogo-load-css #home-main-wrapper .btn {
    width: 100%; }
  @media only screen and (min-width: 601px) {
    .gogo-load-css #home-main-wrapper .btn {
      width: auto; } }
  .gogo-load-css #home-main-wrapper #bottom-more-info {
    position: absolute;
    left: -2rem;
    right: 0;
    bottom: 0;
    line-height: 3.5rem;
    font-size: .9rem; }
    @media only screen and (min-width: 601px) {
      .gogo-load-css #home-main-wrapper #bottom-more-info {
        font-size: 1.1rem; } }
    .gogo-load-css #home-main-wrapper #bottom-more-info:hover {
      cursor: pointer; }
    .gogo-load-css #home-main-wrapper #bottom-more-info .text {
      padding: 0 1rem;
      margin-left: 1.5rem; }
      @media only screen and (min-width: 601px) {
        .gogo-load-css #home-main-wrapper #bottom-more-info .text {
          padding: 0 10rem; } }
    .gogo-load-css #home-main-wrapper #bottom-more-info .icon {
      font-size: 1.3rem;
      position: absolute;
      top: 3px; }
      @media only screen and (min-width: 601px) {
        .gogo-load-css #home-main-wrapper #bottom-more-info .icon {
          font-size: 1.6rem; } }
  .gogo-load-css #home-main-wrapper .search-bar-autocomplete-results-container {
    width: 100% !important;
    margin-top: -.5rem !important; }

@media (max-height: 450px) {
  .gogo-load-css body {
    height: auto !important; }
  .gogo-load-css #home-main-wrapper {
    height: auto !important;
    min-height: 100% !important; } }

@media only screen and (max-width: 600px) {
  .gogo-load-css .btn {
    height: 2.5rem;
    font-size: .85rem;
    padding: 0 .8rem;
    line-height: 2.5rem; }
  .gogo-load-css .divider {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem; }
  .gogo-load-css .col {
    padding: 0 0.5rem !important; }
  .gogo-load-css .row {
    margin-bottom: 0; } }

.gogo-load-css .row {
  margin-bottom: 1rem; }

.gogo-load-css section#home-main-container, .gogo-load-css section .content {
  position: relative;
  width: 100%;
  padding: 1rem; }
  @media only screen and (min-width: 601px) {
    .gogo-load-css section#home-main-container, .gogo-load-css section .content {
      margin: 0 auto;
      padding: 2rem 2rem 1rem 2rem; } }
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .gogo-load-css section#home-main-container, .gogo-load-css section .content {
      width: 90%; } }
  @media only screen and (min-width: 901px) {
    .gogo-load-css section#home-main-container, .gogo-load-css section .content {
      width: 80%;
      max-width: 900px; } }

@media only screen and (min-width: 601px) {
  .gogo-load-css section#home-main-container {
    border-radius: 15px;
    margin: 0 auto;
    padding: 2rem; } }

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .gogo-load-css section#home-main-container {
    width: 90%; } }

@media only screen and (min-width: 901px) {
  .gogo-load-css section#home-main-container {
    width: 80%;
    max-width: 900px; } }

.gogo-load-css section#home-main-container h1 {
  position: relative;
  font-weight: bold;
  z-index: 50;
  text-shadow: 5px 4px 1px #191b16;
  font-size: 3rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 600px) {
    .gogo-load-css section#home-main-container h1 {
      text-shadow: 2px 2px 1px #191b16; } }
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .gogo-load-css section#home-main-container h1 {
      font-size: 4.8rem; } }
  @media only screen and (min-width: 901px) {
    .gogo-load-css section#home-main-container h1 {
      font-size: 6.4rem;
      margin: 0; } }

.gogo-load-css section#home-main-container h2 {
  font-size: 1.25rem;
  line-height: 130%;
  margin: 0;
  margin-top: 1rem; }
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .gogo-load-css section#home-main-container h2 {
      font-size: 1.5rem;
      margin-top: 1.3rem; } }
  @media only screen and (min-width: 901px) {
    .gogo-load-css section#home-main-container h2 {
      font-size: 1.5rem;
      margin-top: 1.3rem; } }

.gogo-load-css section#home-main-container #search-bar-container {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: .5rem; }
  @media only screen and (min-width: 601px) {
    .gogo-load-css section#home-main-container #search-bar-container {
      margin-top: 1.5rem;
      width: 90%; } }

.gogo-load-css section#home-main-container #search-bar {
  text-align: center;
  padding: 0 1rem;
  box-shadow: none !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: calc(100% - 1rem);
  border: none !important;
  font-size: 1rem;
  height: 2.5rem; }
  @media only screen and (min-width: 601px) {
    .gogo-load-css section#home-main-container #search-bar {
      height: 3rem; } }
  .gogo-load-css section#home-main-container #search-bar.invalid {
    border: 3px solid #B90303; }

.gogo-load-css section#home-main-container #search-bar-icon {
  position: absolute;
  left: 1.2rem;
  cursor: default;
  position: absolute;
  line-height: 3.4rem;
  height: 3rem;
  min-width: 2rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 600px) {
    .gogo-load-css section#home-main-container #search-bar-icon {
      display: none; } }
  .gogo-load-css section#home-main-container #search-bar-icon:hover {
    cursor: pointer; }
  .gogo-load-css section#home-main-container #search-bar-icon #search-spinner-loader {
    top: .9rem;
    left: 4px; }

.gogo-load-css section#home-main-container #search-geolocalize {
  font-size: 1.6rem;
  line-height: 3.5rem;
  position: absolute;
  right: 1rem;
  height: 3rem; }
  .gogo-load-css section#home-main-container #search-geolocalize:hover {
    cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .gogo-load-css section#home-main-container #search-geolocalize {
      display: none; } }

@media only screen and (min-width: 601px) {
  .gogo-load-css section#home-main-container #btn-geolocation {
    display: none; } }

.gogo-load-css section#home-main-container .ui-effects-wrapper {
  display: inline-block; }

.gogo-load-css section#home-main-container .main-options-container {
  display: none;
  margin-bottom: .5rem; }
  .gogo-load-css section#home-main-container .main-options-container label.main-option-radio-label {
    margin-right: 1.5rem;
    margin-bottom: 1rem; }
    .gogo-load-css section#home-main-container .main-options-container label.main-option-radio-label:before {
      top: 2px;
      width: 14px;
      height: 14px; }
    .gogo-load-css section#home-main-container .main-options-container label.main-option-radio-label:after {
      top: 2px;
      width: 14px;
      height: 14px; }

@media only screen and (min-width: 1201px) {
  .gogo-load-css section#home-main-container .main-options-container {
    display: block; }
  .gogo-load-css section#home-main-container .category-field-select {
    display: none; } }

.gogo-load-css section#home-main-container .category-field-select {
  -webkit-box-flex: initial;
  -moz-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  -webkit-box-ordinal-group: 1000000;
  -moz-box-ordinal-group: 1000000;
  -ms-flex-order: 1000000;
  -webkit-order: 1000000;
  order: 1000000;
  margin: 0; }
  .gogo-load-css section#home-main-container .category-field-select .select-dropdown li.disabled {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold; }
  .gogo-load-css section#home-main-container .category-field-select .caret {
    color: white;
    z-index: 10;
    right: 15px;
    top: 7px; }
  .gogo-load-css section#home-main-container .category-field-select .select-wrapper {
    max-width: 400px;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: -.5rem;
    padding-left: 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .gogo-load-css section#home-main-container .category-field-select .select-wrapper input.select-dropdown {
      height: 2rem;
      line-height: 2rem;
      margin-bottom: .8rem;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: bold;
      border: none;
      background-color: transparent;
      color: white;
      text-align: center; }

.gogo-load-css section#home-main-container .primary-button {
  margin-bottom: 1.5rem; }

.gogo-load-css section#home-main-container .divider {
  display: block;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed;
  opacity: .3; }

@media (max-height: 800px) {
  .gogo-load-css section#home-main-container label.main-option-radio-label {
    margin-bottom: .5rem !important;
    font-size: 1rem; }
  .gogo-load-css section#home-main-container #search-bar-container {
    margin-top: 1rem;
    margin-bottom: 0; }
  .gogo-load-css section#home-main-container h2 {
    font-size: 1rem !important;
    margin-bottom: .5rem; }
  .gogo-load-css section#home-main-container .btn {
    line-height: 2rem; }
  .gogo-load-css section#home-main-container .contribution-text {
    font-size: 1rem !important; }
  .gogo-load-css section#home-main-container .divider {
    margin-bottom: 1rem; }
  .gogo-load-css section#home-main-container .select-wrapper {
    margin-bottom: .5rem !important; }
  .gogo-load-css section#home-main-container input.select-dropdown {
    margin-bottom: 0; } }

@media only screen and (max-width: 600px) {
  .gogo-load-css section#home-main-container .contribution-text {
    display: none; }
  .gogo-load-css section#home-main-container .category-field-select {
    display: none; } }

.gogo-load-css section.bottom-section {
  width: 100%;
  margin: 0; }
  .gogo-load-css section.bottom-section .content {
    padding: 5rem;
    overflow: hidden;
    font-size: 1.5rem; }
    .gogo-load-css section.bottom-section .content h2 {
      font-size: 4rem;
      margin-bottom: 3rem;
      margin-top: 2rem;
      text-transform: none;
      font-weight: normal; }
    @media only screen and (max-width: 600px) {
      .gogo-load-css section.bottom-section .content {
        padding: 2rem;
        font-size: 1.2rem; }
        .gogo-load-css section.bottom-section .content h2 {
          font-size: 2.5rem; } }

.gogo-load-css #section-credits {
  padding-bottom: 0;
  padding: 2rem;
  font-size: 2rem;
  margin-bottom: 0; }
  .gogo-load-css #section-credits strong {
    font-weight: bold; }
  @media only screen and (max-width: 600px) {
    .gogo-load-css #section-credits {
      font-size: 1.5rem;
      margin: 0;
      padding: 1rem; } }
