{% extends "user/contributions-layout.html.twig" %}

{% set navTitle = "Mes Contributions" %}
{% block title %}Mes Contributions{% endblock %}

{% block contribution_page %}
  <h1>Mes contributions</h1>

  {% include 'user/contributions/elements-owned.html.twig' %}
  {% include 'user/contributions/elements-contributed.html.twig' %}
  {% include 'user/contributions/pending-contributions.html.twig' %}
  {#{% include 'user/contributions/all-contributions.html.twig' %}#}
{% endblock %}