<div style="margin-bottom: 30px;">
  <h2 style="font-weight: bold;
             font-size: 20px;
             color: {{ config.primaryColor }}">
    {{ news.title|raw }}
  </h2>

  <div>
    {{ news.content|raw }}
  </div>
</div>
