<div class="table-responsive no-padding">
  <table class="table"> 
  <tbody>
    {% set values = object.data|merge(object.privateData) %}
    {% for key, data in values %}
      <tr class="sonata-ba-view-container">
        <th>{{ key }} {% if data in object.privateData %} <i style="font-weight: normal">(privée)</i>{% endif %}</th>
        <td>
          {% if data is iterable %}
            {% for subkey, subdata in data %}
              {{ subkey }} : {{ subdata is iterable ? subdata|join(',') : subdata }}<br/>
            {% endfor %}
          {% else %}
            {{ data }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
