{% extends 'admin/pages/page_layout.html.twig' %}

{% block page_title %}Action de masse{% endblock %}

{% block page_content %}  
  <div><a class="btn btn-danger" href={{ path('gogo_bulk_actions_delete_element_reported') }}>Supprimer les éléments reportés comme n'existant plus</a></div>

  <style>
  .btn { margin-bottom: 10px; }
  </style>
{% endblock %}





