.condition-container {
    display: flex;
    align-items: center;
}
.condition {
    display: flex;
    align-items: center;
}
.btn.btn-icon i {
    margin: 0;
}
.remove-query {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 2px 5px;
}
.btn-add-condition {
    margin-top: 15px;
}