{% extends "user/layout.html.twig" %}

{% set navTitle = "home.my_space"|trans %}
{% block title %}{{ "home.my_space"|trans }}{% endblock %}

{% set pageName = 'user-space' %}

{% block body_user_before_content %}
  <h1>{{ "home.my_space"|trans }}</h1>
{% endblock %}