{% extends 'admin/core_custom/base_edit.html.twig' %}

{% block actions %}
{% endblock %}

{% block sonata_form_actions %}
  {% if object.lastRefresh %}
    <p>Dernier import : {{ object.lastRefresh|date('d/m/Y') }}</p>
  {% endif %}

  <button type="submit" class="btn btn-success" name="submit">
    <i class="fa fa-save" aria-hidden="true"></i>Sauvegarder
  </button>

  {% if object.id != "" and object.ontologyMapping|length > 0 %}
    <button type="submit" class="btn btn-primary" name="import" value="import">
      {% if object.lastRefresh %}
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Importer de nouveau
      {% else %}
        <i class="fa fa-download" aria-hidden="true"></i>
        Importer les données
      {% endif %}
    </button>
  {% endif %}

  {% set class = object.ontologyMapping|length > 0 ? 'btn-default' : 'btn-primary' %}
  {% if object.id != "" %}
    <button type="submit" class="btn btn-default" name="collect" value="collect" title="Met à jour les tables de correspondance sans réellement importer les données">
      <i class="fa fa-eye" aria-hidden="true"></i>Lire les données
    </button>
  {% endif %}
  {% if object.id != "" %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-danger view_link">
      <i class="fa fa-trash" aria-hidden="true"></i>Supprimer (ainsi que tous les éléments importés)
    </a>
  {% endif %}

  <div class="save-overlay">
    <div class="save-overlay-content">
      <p>Sauvegarde et lecture des données en cours...</p>
      <i class="loading-icon fa fa-spinner fa-spin"></i>
    </div>
  </div>

  <script>
    $(document).on('ready', function() {
      $('[name=submit], [name=collect]').click(() => $('.save-overlay').show());
    })
  </script>

  <style>
    .save-overlay {
      display: none;
      z-index: 500;
      position: fixed;
      top: 0; bottom: 0; right: 0; left: 0;
      background-color: #222c32b8;
    }
    .save-overlay-content {
      position: absolute;
      top: 40%; left: 0; right: 0;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 18px;
    }
    .save-overlay .loading-icon {
      font-size: 35px;
    }
  </style>

{% endblock %}